<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Air Bandits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>78D27A7F1D1DD9CC00BF383E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78D27A971D1DD9CC00BF383E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78D27AA21D1DD9CC00BF383E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
